*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex: 1;
    align-items: center;
    color: white;
    background-image: url('./فلسطين\ Palestine\ 🇵🇸.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* backdrop-filter: blur(1px); */
    /* background: black; */
    /* background: linear-gradient(135deg,white , green); */
}

.watch{
    width: 200px;
    height: 200px;
    margin: 50px auto;
    position: relative;
    border: 3px solid white;
    border-radius: 50%;
    padding: 20px;
    backdrop-filter: blur(10px);
}
.face{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}
.hand{
    width: 5px;
    height: 47%;
    background: white;
    position: absolute;
    top: -9%;
    right: 60%;
    transform-origin: 86% 100%;
    transform: rotate(0deg);
    transition: .05s;
    transition-timing-function: cubic-bezier(.1,2.7,.58,1);
    border-radius: 5px;
}
#hour{
    width: 6px;
    background: red;
    height: 30%;
    top: 11%;

}
#second{
    width: 2px;
    background: black;
    height: 40%;
    top: 1%;

}
#minute{
    background:green;
    height: 35%;
    top: 7%;
}
.twelve{
    position: absolute;
    left: 47%;
    top: 2%;
}
.nine{
    position: absolute;
    left:  2%;
    top: 50%;
}

.six{
    position: absolute;
    left: 50%;
    top: 90%;

}

.three{
    position: absolute;
    right: 2%;
    top: 50% ;

}